<!DOCTYPE html>
<html>
<head>
  <title>Shopit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/shops">shops</a></li>
  <li><a href="/wholesales">wholesales</a></li>
</ul>
<%= yield %>

</body>
</html>
